@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
.container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}
#header {
    text-align: center;
    padding: 0.5ex;
    margin: 0;
}
#info {
    flex: 15em;
    padding: 2px;
    display: flex;
    flex-flow: row;
}
#activites {
    flex: 1;
}
#palmares {
    flex: 1;
}
#map {
    flex: 100%;
    position: relative
}
#locate {
    top: 4em;
    left: .5em;
    z-index: 1;
}
